<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fonts</key>
	<dict>
		<key>titleFont</key>
		<dict>
			<key>FontName</key>
			<string>Montserrat-Regular</string>
			<key>FontSize</key>
			<string></string>
		</dict>
		<key>boldTitleFont</key>
		<dict>
			<key>FontName</key>
			<string>Montserrat-Bold</string>
			<key>FontSize</key>
			<string></string>
		</dict>
	</dict>
	<key>Colors</key>
	<dict>
		<key>packageGradientColor1</key>
		<dict>
			<key>Red</key>
			<real>0.569</real>
			<key>Green</key>
			<real>0.373</real>
			<key>Blue</key>
			<real>0.592</real>
			<key>Alpha</key>
			<integer>1</integer>
		</dict>
		<key>packageGradientColor2</key>
		<dict>
			<key>Red</key>
			<real>0.416</real>
			<key>Green</key>
			<real>0.243</real>
			<key>Blue</key>
			<real>0.439</real>
			<key>Alpha</key>
			<integer>1</integer>
		</dict>
		<key>borderColor</key>
		<dict>
			<key>Red</key>
			<real>0.753</real>
			<key>Green</key>
			<real>0.753</real>
			<key>Blue</key>
			<real>0.753</real>
			<key>Alpha</key>
			<integer>1</integer>
		</dict>
		<key>inputColor</key>
		<dict>
			<key>Red</key>
			<real>0.533</real>
			<key>Green</key>
			<real>0.533</real>
			<key>Blue</key>
			<real>0.533</real>
			<key>Alpha</key>
			<integer>1</integer>
		</dict>
		<key>backgroundColor</key>
		<dict>
			<key>Red</key>
			<real>0.957</real>
			<key>Green</key>
			<real>0.957</real>
			<key>Blue</key>
			<real>0.957</real>
			<key>Alpha</key>
			<integer>1</integer>
		</dict>
		<key>primaryAccentColor</key>
		<dict>
			<key>Red</key>
			<real>0.373</real>
			<key>Green</key>
			<real>0.137</real>
			<key>Blue</key>
			<real>0.38</real>
			<key>Alpha</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>StyleTypes</key>
	<dict>
		<key>tableCellStyle</key>
		<array>
			<string>. setF</string>
		</array>
		<key>psuedoTabStyle</key>
		<array>
			<string>titleLabel setBackgroundColor: color:clear</string>
			<string>. customTitleColor color:black normal</string>
			<string>. customTitleColor color:black highlighted</string>
			<string>. setBackgroundColor: color:backgroundColor</string>
			<string>layer setBorderColor: color:borderColor</string>
			<string>layer setCornerRadius: float:0</string>
		</array>
	</dict>
</dict>
</plist>
